[submodule "packages/api/textile"]
	path = packages/api/textile
	url = https://jfabraxas@github.com/graphql-api/graphql-api-textile
[submodule "packages/api/rossum"]
	path = packages/api/rossum
	url = https://github.com/graphql-api/graphql-api-rossum
[submodule "packages/local/textile"]
	path = packages/local/textile
	url = https://jfabraxas@github.com/graphql-api/graphql-local-textile
[submodule "packages/api/stripe"]
	path = packages/api/stripe
	url = https://jfabraxas@github.com/graphql-api/graphql-api-stripe
[submodule "packages/local/file-system-access"]
	path = packages/local/file-system-access
	url = https://jfabraxas@github.com/graphql-api/graphql-local-file-system-access
[submodule "packages/api/infura"]
	path = packages/api/infura
	url = https://github.com/graphql-api/graphql-api-infura
[submodule "packages/api/netlify"]
	path = packages/api/netlify
	url = https://jfabraxas@github.com/graphql-api/graphql-api-netlify
[submodule "packages/api/sevdesk"]
	path = packages/api/sevdesk
	url = https://jfabraxas@github.com/graphql-api/graphql-api-sevdesk
[submodule "packages/api/youtube"]
	path = packages/api/youtube
	url = https://github.com/graphql-api/graphql-api-youtube
[submodule "packages/api/sftp"]
	path = packages/api/sftp
	url = https://github.com/graphql-api/graphql-api-sftp
[submodule "packages/api/notion"]
	path = packages/api/notion
	url = https://github.com/graphql-api/graphql-api-notion
